scikit-learn
pandas
numpy
tensorflow
jupyter
seaborn
xgboost
wordcloud
matplotlib
missingno
nltk
plotly
tensorflow_hub
imbalanced-learn
spacy
graphviz
kaleido
django
djangorestframework
django-cors-headers
