/* .navbar {
  background: rgb(0,4,40);
  background: linear-gradient(90deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 100%);
  top: 0;
  width: 100%;
  height: 10%;
  padding: 0;
} */

/* .navbar-container {
  margin-left: 0 !important;
}

.navbar-brand a{
  vertical-align: text-bottom;
  color: #08c4a4;
}

.navbar-brand span {
  margin: 0 1rem;
} */

/* .nav-menu{
  background: white;
  width: 250px;
  height: 90%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* position: fixed;
  border: solid 2px lightgray;
  /* top: 0;
  left: -100%;
  transition: 850ms;
} */

/* .nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 1;
} */

/* .nav-text {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.nav-text a {
  text-decoration: none;
  color: #414656;
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  /* padding: 0 16px; 
  border-radius: 4px;
} */

/* .nav-text span {
  margin: 0 1rem;
} */

/* .sidebar-icon{
  color: #08c4a4;
} */
/* 
.nav-text a:hover {
  background-color: rgba(0, 78, 146, .2);
} */