@import url('https://cdn.syncfusion.com/ej2/material.css');

.sidebar {
  box-shadow: rgb(113 122 131 / 11%) 0px 7px 30px 0px;
}
.nav-item,
.navbar {
  z-index: 10000;
}
@media  screen and (max-width:800px) {
  .sidebar{
    z-index: 10000000;
  }
}

.e-dlg-center-center, .e-quick-popup-wrapper.e-device{
  z-index: 1000000 !important;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(216, 216, 216);
  border-radius: 40px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* color-picker style  */

 #preview {
  background: transparent
    url('https://ej2.syncfusion.com/react/demos/src/color-picker/images/pen.png')
    no-repeat;
  display: inline-block;
  height: 80px;
  margin: 10px 0;
  min-width: 300px;
  max-width: 600px;
  background-color: #008000;
}

.e-input-group:not(.e-float-icon-left), .e-input-group.e-success:not(.e-float-icon-left), .e-input-group.e-warning:not(.e-float-icon-left), .e-input-group.e-error:not(.e-float-icon-left), .e-input-group.e-control-wrapper:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-success:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-warning:not(.e-float-icon-left), .e-input-group.e-control-wrapper.e-error:not(.e-float-icon-left){
  border: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
}

.bg_gradient_personalized {
  background: linear-gradient(90deg, rgba(0,4,40,1) 0%, rgba(0,78,146,1) 100%);
  
}

.footer {
  background: transparent !important;
}

.ReactModal__Overlay{
  background-color: rgba(0, 0, 0, 0.65) !important;
  z-index: 10000;
}

.logo_home{
  width: 300px !important;
}

.title_home{
  font-size: 80px;
  flex-wrap: wrap;
  color: white;
}

.home_section{
  display: flex !important;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  gap: 50px;
}

.title-home-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-home-section > span{
  color:rgba(255, 255, 255, 0.65) !important;;
}

.bg_white{
  background-color: white !important;
}

.home-title-section{
  margin-bottom: 50px !important;
  font-size: 30px;
  color: #004e92;
}

.home-title-section.light-text{
  color: white;
}

.home-title-column{
  font-size: 24px;
  color: #004e92;
  padding-top: 20px;
  padding-bottom: 20px;
}

.home-text-section{
  color: black;
  text-align: justify;
}

.home-icon-column{
  height: 100px;
}

.home-picture-team{
  height: 170px;
  border-radius: 50%;
}

.home-title-column.light-text{
  color: white;
  margin: 0;
}

.home-text-column.light-text{
  color: white;
  text-align: center;
}

/* PLOTS */
.plot-class{
  width: 100%;
  height: 100%;
}

.card-active{
  border-left: 5px solid #11cdef;
}

.bg-lightblue {
  background: #EBF8FE 100% !important; }